#*
#!*/main.cpp
#*/cmake-build-debug/
#*/.idea/
#!main.cpp
#CMakeLists.txt
#/Skillbox/module_23_Writing_to_files/23_3_Simulation_game_Fishing



#**/Skillbox/module_23_Writing_to_files/23_4_Simulation_cash_machine/cmake-build-debug/
#**/Skillbox/module_23_Writing_to_files/23_4_Simulation_cash_machine/.idea/




#!**/Skillbox/module_23_Writing_to_files/23_4_Simulation_cash_machine/cmake-build-debug/banknotes.bin

#!/Skillbox/
#!/Skillbox/module_23_Writing_to_files/
#!/Skillbox/module_23_Writing_to_files/23_4_Simulation_cash_machine/