*
!*/
!*.cpp
!*.hpp
!*.h
!*git.bin
!*git.txt
!Qt/**/*.*
#!test/**/*.*
!SQL/**/*.*
!lessons/**/*.*
!intensive_lesson/**/*.*
!Skillbox/old_numeration/**/*.*
!guide/**/*.*
!Skillbox/module_25_Project_structure/**/*.txt

*.xml
*.iml

#LINUX
*/.idea/
CMakeCXXCompilerId.cpp
#CMakeDetermineCompilerABI_C.bin
#CMakeDetermineCompilerABI_CXX.bin


Skillbox/module_24_Struct/24_3_Realization_mathematical_vector/.idea/24_3_Realization_mathematical_vector.iml
