*
!*/
!*.cpp
!*.hpp
!*.h
!*.cc
!*.ui
!*.qml
!*git.bin
!*git.txt
!*git.png
!Qt/**/*.*
#!test/**/*.*
!SQL/**/*.*
!lessons/**/*.*
!intensive_lesson/**/*.*
!Skillbox/old_numeration/**/*.*
!guide/**/*.*
!Skillbox/module_25_Project_structure/**/*.txt

*.xml
*.iml

#LINUX
*/.idea/
CMakeCXXCompilerId.cpp
#CMakeDetermineCompilerABI_C.bin
#CMakeDetermineCompilerABI_CXX.bin


Skillbox/module_24_Struct/24_3_Realization_mathematical_vector/.idea/24_3_Realization_mathematical_vector.iml

test/module_30_test/cmake-build-debug/**/*.*
test/module_30_test/cmake-build-debug/
!test/module_30_test/CMakeLists.txt

Skillbox/module_30_HTTP_requests/30_1_User_requests/cmake-build-debug/**/*.*
Skillbox/module_30_HTTP_requests/30_1_User_requests/cmake-build-debug/
!Skillbox/module_30_HTTP_requests/30_1_User_requests/CMakeLists.txt

Skillbox/module_30_HTTP_requests/30_2_Capturing_title_of_web_page/cmake-build-debug/**/*.*
Skillbox/module_30_HTTP_requests/30_2_Capturing_title_of_web_page/cmake-build-debug/
!Skillbox/module_30_HTTP_requests/30_2_Capturing_title_of_web_page/CMakeLists.txt

Skillbox/module_30_HTTP_requests/30_3_Queries_with_arguments/cmake-build-debug/**/*.*
Skillbox/module_30_HTTP_requests/30_3_Queries_with_arguments/cmake-build-debug/
!Skillbox/module_30_HTTP_requests/30_3_Queries_with_arguments/CMakeLists.txt

test/module_32_test_1/nlohmann_json/**/*.*
#test/module_32_test_1/cmake-build-debug/**/*.*
!test/module_32_test_1/CMakeLists.txt
!test/module_32_test_1/cmake-build-debug/record.json
!test/module_32_test_1/cmake-build-debug/record.proto

Skillbox/module_32_JSON/32_1_Information_about_film/nlohmann_json/**/*.*
#Skillbox/module_32_JSON/32_1_Information_about_film/cmake-build-debug/**/*.*
!Skillbox/module_32_JSON/32_1_Information_about_film/CMakeLists.txt
!Skillbox/module_32_JSON/32_1_Information_about_film/cmake-build-debug/film.json

Skillbox/module_32_JSON/32_2_Film_Data_Analysis/nlohmann_json/**/*.*
#Skillbox/module_32_JSON/32_2_Film_Data_Analysis/cmake-build-debug/**/*.*
!Skillbox/module_32_JSON/32_2_Film_Data_Analysis/CMakeLists.txt
!Skillbox/module_32_JSON/32_2_Film_Data_Analysis/cmake-build-debug/films.json

Skillbox/module_32_JSON/32_3_Company_data_model_on_Protobuf/nlohmann_json/**/*.*
#Skillbox/module_32_JSON/32_3_Company_data_model_on_Protobuf/cmake-build-debug/**/*.*
!Skillbox/module_32_JSON/32_3_Company_data_model_on_Protobuf/CMakeLists.txt
!Skillbox/module_32_JSON/32_3_Company_data_model_on_Protobuf/cmake-build-debug/record.json
!Skillbox/module_32_JSON/32_3_Company_data_model_on_Protobuf/cmake-build-debug/record.proto

#module 34
mocs_compilation.cpp
moc_predefs.h
!test/module_34_test_2/CMakeLists.txt

!Skillbox/module_36_Qt_Widgets/36_1_Qt_Widgets/CMakeLists.txt
