# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\github\cpp\Skillbox\module_18_Algorithms_on _arrays\18_1_Sum_max_possible\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
